.loginBackground {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100%;
}

.loginBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 150dvw;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background: linear-gradient(83.21deg, #3245ff 0%, #ff0000 100%);
  mask-image: radial-gradient(rgba(15, 15, 15, 0.45), transparent 70%);
  -webkit-mask-image: radial-gradient(rgba(15, 15, 15, 0.45), transparent 70%);
}
