.intoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
}

.intoBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 120dvw;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 60%;
  background: linear-gradient(83.21deg, #3245ff 0%, #ff0000 100%);
  mask-image: radial-gradient(rgba(15, 15, 15, 0.45), transparent 50%);
  -webkit-mask-image: radial-gradient(rgba(15, 15, 15, 0.45), transparent 70%);
}

.title {
  font-size: clamp(40px, 3vw, 90px);
  font-weight: bold;
  text-align: center;
  line-height: normal;
  color: #f9f0f0;
  @apply animate-[fadeIn_1s_ease-in_forwards];
}

.coloredText {
  @apply bg-gradient-to-r from-primary-700 to-pink-500 bg-clip-text text-transparent;
}
